body{
    background: #F6F5F5 !important;
}
a{
    text-decoration: none !important;
}
.white,#white{
    color: white !important;
}
.green{
    color: greenyellow;
}
.bold{
    font-weight: bold;
}
.pointer{
    cursor: pointer;
}
.ip_sort{
    width: 30px;
}
.ip_medium{
    width: 100px;
}
.cell{
    cursor: cell;
}
.border{
    border: 1px solid #F6F5F5 !important;
    border-radius: 5px;
}
.new{
    height: 222px;
    overflow: scroll;
}
.activex{
    background: #77BC1A !important;
}
.clr_padding{
    padding:0px !important;
    margin: 0px !important;
}
.header{
    border-radius: 0px !important;
    border: 0px !important;
    margin: 0px !important;
    background: #000 !important;
}
.toTop{
    background: rgba(0,0,0,0) url(/img/toTop.png) repeat scroll 0 0;
    height: 46px;
    width: 46px;
    opacity: 0.5;
    position: fixed;
    right: 10px;
    top: 70%;
    z-index: 9999;
    cursor: pointer;
    
}
.menu{
    background: url('../img/header_bg.jpg');
}
.mn_hover:hover{
    background: #77BC1A !important;
}
.navmenu{
    margin: 0px !important;
    border: 0px !important;
    background: transparent !important;
    padding: 0px !important;
}
.content{
    margin-top: 20px;
    background: white !important;
}
.dtdd{
    background: orange;
    margin: 0px !important;
    padding: 0px !important;
}
.dtdd_icon,.dtdd_txt{
    margin: 0px !important;
    padding: 0px !important;
}
.tablet{
    background: #D9532D;
    margin: 0px !important;
    padding: 0px !important;
}
.camera{
    background: #B21A42;
    margin: 0px !important;
    padding: 0px !important;
}


.laptop{
    background: blue;
    margin: 0px !important;
    padding: 0px !important;
}
.phukien{
    background: green;
    margin: 0px !important;
    padding: 0px !important;
}
.tivi{
    background: greenyellow;
    margin: 0px !important;
    padding: 0px !important;
}
.seting{
    background: #dad8d8;
    margin: 0px !important;
    padding: 0px !important;
}

@media(max-width:480px){
    .logo{
        font-size: 25px;
    }
}