<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
#    RewriteRule ^([\w\d~%.:_\-]+)$ index.php?page=$1 [NC]
RewriteRule ^([^/]*)$ thietbiso/sanpham/sanpham?idSupp=$1&idCate=$2 [L]
</IfModule>